*,body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.intro-container{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-y: 60%;
}
.intro-form{
  background-color: rgba(0, 0, 0, 0.801);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translate(-50%);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.596);
}
.intro-form input{
  height: 25px;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgba(98, 179, 255, 0.856);
  background-color: rgb(6, 31, 54);
  border-radius: 5px;
  color: rgb(98, 179, 255);
  font-size: 20px;
  padding-left: 40px;
}
.intro-form input::placeholder{
  color: rgba(98, 179, 255, 0.829);
  font-size: 17px;
}
.intro-form p{
  color: rgba(255, 255, 255, 0.781);
  font-size: 25px;
  text-align: center;
  margin: 10px;
}
.intro-form button{
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: rgb(42, 165, 69);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.671);
}
.intro-form .change-form{
  font-size: 18px;
}
.intro-form svg{
  transform: translate(110%,220%);
}
.intro-logo{
  color: #08db01;
  font-size: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-100%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 26, 255, 0.712);
  font-weight: bolder;
  top: 20%;
}
.navbar{
  display:flex;
  justify-content: space-around;
  background-color: rgb(49, 113, 231);
  padding: 6px 0;
}
.navbar-home, .menu{
  font-size: 25px;
  color: white;
  margin-top: 3px;
}
.navbar-search{
  width: 500px;
  display: flex;
}
.navbar-bar .close{
  display: none;
}
.navbar .menu{
  display: none;
}
.navbar-search input{
  border-radius: 5px;
  width: 400px;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.397);
}
.navbar-search button{
  margin-left: -5px;
  width: 40px;
  background-color: rgb(182, 187, 255);
  border: 1px solid green;
  padding: 5px;
}
.intro-form .error-msg{
  color: red;
  padding: 10px;
  font-size: 20px;
  border: 1px solid red;
  width: 50%;
  margin: 10px auto;
}
.intro-form .msg{
  color: rgb(36, 189, 22);
  padding: 10px;
  font-size: 20px;
  border: 1px solid rgb(36, 189, 22);
  width: 50%;
  margin: 10px auto;
}
@media screen and (max-width:1200px){
  .intro-container{
    height: 1000px;
  }
  .intro-form{
    width: 60%;
    top: 20%;
  }
  .intro-logo{
    top: 15%;
    font-size: 70px;
  }
 
}
@media screen and (max-width:800px){
  .intro-container{
    background-position: 30%;
  }
  .intro-form{
    width: 80%;
  }
  .intro-form button{
    width: 50%;
  }
  .intro-logo{
    top: 15%;
    font-size: 60px;
  }
  .navbar-bar{
    display: none;
  }
  .mobile-navbar{
    width: 80vw;
    background-color: blue;
    position: absolute;
    top:0;
    left:0;
    padding-bottom: 100px;
  }
  .mobile-navbar .navbar-search{
    margin-top: 20px;
  }
  .mobile-navbar .close{
    display: block;
    position: absolute;
    padding: 8px;
    left: 90%;
    top: 0;
    margin-top: 10px;
    border: 1px solid rgb(172, 0, 0);
    background-color: rgb(255, 101, 101);
  }
  .navbar-search input{
    width: 200px;
  }
  .navbar-search{
    margin-top: 10px;
  }

  .navbar .menu{
    display:block;
  }
}
@media screen and (max-width:400px){
  .intro-form button{
    width: 60%;
  }
  .intro-logo{
    top: 15%;
    font-size: 50px;
  }
 
}
